
{{/* For Users's overwrite */}}

{{ if .Params.useBuefy }}

<script>
    // we need this tweak because Buefy is not built for browsers
    window.process = { env: { NODE_ENV: 'production' } };
</script>

{{ end }}



<!-- <link type="text/css" rel="stylesheet" href="https://unpkg.com/browse/lightgallery@2.7.2/css/lightgallery-bundle.css" /> -->


<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.css" integrity="sha512-Woz+DqWYJ51bpVk5Fv0yES/edIMXjj3Ynda+KWTIkGoynAMHrqTcDUQltbipuiaD5ymEo9520lyoVOo9jCQOCA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->


<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ntohq/buefy-next/dist/buefy.css"> -->

<!-- useBuefy -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/buefy/dist/buefy.min.css"> -->


<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js"></script> -->




