


<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js"
    }
  }
</script>



{{ safeHTML `

  <div id="app">
    <div id="lightgallery">

      <div style="margin-top: 60px;" v-for="a in albums">
        <h2>
            [[ a.title ]]
        </h2>
        <div iid="lightgallery">
          <a :class="'item'" v-for="img in a.images" :href="''+a.dir+'/'+img.full" :data-src="''+a.dir+'/'+img.full" data-lightbox="gallery">
            <img :src="''+a.dir+'/'+img.thumb" />
          </a>
        </div>
      </div>

    </div>

  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox-plus-jquery.min.js"></script>

  <script>
    lightbox.option({
      'resizeDuration': 100,
      'fadeDuration': 100,
      'imageFadeDuration': 100,
      'wrapAround': true
    })
  </script>

` }}


  <script type="module">
    import { createApp, ref } from 'vue'
    
    const app = createApp({
      delimiters: ["[[", "]]"],
      setup() {
        const albums = ref([])
        return {
          albums,
        }
      },

      beforeMount() {
        this.loadAlbums();
      },

      methods: {

        async loadAlbums() {
          this.albums = await this.parseAlbum();
        },

        async parseAlbum() {
          const response = await fetch("parts.txt");
          const text = await response.text();
          var separateLines = text.split(/\r?\n|\r|\n/g);
          let items = separateLines
            .map( (line) => line.split("|") )
            .map( (row) => {
              const elm = {
                title: (row[0] || "").trim(),
                dir: (row[1] || "").trim(),
              };
              return elm;
            })
            .filter( (item) => item.title );
          for(const elm of items) {
            elm.images = await this.getAlbumPartImages(elm.dir);
          }
          return items;
        },

        async getAlbumPartImages(dir) {
          const response = await fetch(dir+".txt");
          const text = await response.text();
          var separateLines = text.split(/\r?\n|\r|\n/g);
          return separateLines
            .map( (line) => line.split("|") )
            .map( (row) => ({
              thumb: (row[1] || "").trim(),
              full: (row[2] || "").trim(),
            }))
            .filter( (item) => item.thumb );
        },
      },
    });
    
    app.mount('#app');
  </script>





